<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Image and text -->
    <!--Funawesome CDN-->
    <script src="https://kit.fontawesome.com/2c43223b58.js" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <img class="mr-3" img src="/media/ksp.jpg" alt="Generic placeholder image" width="50" height="30">
        <div class="text-center">
            <a class="navbar-brand" href="{% url 'homepage' %}">KROME Sports Performance</a>

        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Programs
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'flexmob' %}">Mobility & Flexibility</a>
                    <a class="dropdown-item" href="{% url 'conditioning' %}">Conditoning Speed & Agility</a>
                    <a class="dropdown-item" href="{% url 'power' %}">Strength & Power</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>

        </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{% url 'user-profile' %}">{{ user.first_name }}<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-logout' %}">Logout</a>
                </li>

    </nav>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">This is the Information</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics


                    </div>
                    <div class="card my-card shadow text-center p-3">
                        <h4><a class='nav-link' href="{% url 'index' %}">Admin Panel</a></h4>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!--End Topside-->
    {% load crispy_forms_tags %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class='alert alert-{{ message.tags }}'>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}

                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="col"></th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'product-update' item.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'product-delete' item.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    </body>

</html>